<a href="https://colab.research.google.com/github/gitOfKuKue/Programming_SBS/blob/main/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import date

In [ ]:
# prompt: a = float(input("A = " ))
# b = float(input("B = "))
# c = float(input("C = "))
# delta = b*b-4*a*c
# if delta == 0:
#     print("dual solutions: x = ", str(-b/2/a))
# if delta < 0:
#     print("no solution")
# if delta > 0:
#     print("x1 = " + str((-b+delta**0.5)/2/a))
#     print("x2 = " + str((-b-delta**0.5)/2/a))

a = float(input("A = "))
b = float(input("B = "))
c = float(input("C = "))
delta = b*b-4*a*c
if delta == 0:
    print("dual solutions: x = ", str(-b/2/a))
elif delta < 0:
    print("no solution")
else:
    print("x1 = " + str((-b+delta**0.5)/2/a))
    print("x2 = " + str((-b-delta**0.5)/2/a))

A = 10
B = 0
C = -10
x1 = 1.0
x2 = -1.0

In [ ]:
print(str(100))
x = str(50)
print(x)
print(type(x))

100
50
<class 'str'>

In [ ]:
sum = 1 + 3 + 5 +\
7 + 9 + 11 +\
13 + 15 + 17
print(sum)

81

In [ ]:
myName = input("Enter your name : ") #input name
myDOB = int(input("Enter your year of birth : ")) #input DOB

today = date.today() #current date
print("Hello ", myName, ", in this year, you are ", (today.year - myDOB) , " years old.")

Enter your name : Ku Kue
Enter your year of birth : 2003
Hello  Ku Kue , in this year, you are  22  years old.

In [ ]:
myName = input("Enter your name : ") #input name
year, month, day = map(int, input("Enter your date of birth (yyyy-mm-dd) : ").split("-")) #input DOB

today = date.today() #current date
print("Hello ", myName, ", in this year, you are ", (today.year - year) , " years old.")

In [ ]:
num = int(input("Enter a 4 digit number : "))
reverse = 0
while num > 0:
  reminder = num % 10
  reverse = reverse * 10 + reminder
  num //= 10

print(reverse)

Enter a 4 digit number : 4251
425
42
4
0
1524

In [ ]:
##Exercise 2

number = int(input("Enter a number : "))
if number == 2:
  print("Monday")
elif number == 3:
  print("Tuesday")
elif number == 4:
  print("Wednesday")
elif number == 5:
  print("Thursday")
elif number == 6:
  print("Friday")
elif number == 7:
  print("Sunday")
elif number == 8:
  print("Saturday")
else:
  print("Invalid Input!")

Enter a number : 6
Friday

**Practice**

In [ ]:
#Practice
number = int(input("Enter a number : "))
print(number," is even.") if number%2==0 else print(number, " is odd.")

Enter a number : 2
2  is even.

In [ ]:
number = int(input("Enter a number : "))
i=1
for i in range(number):
  if (number/(i+1))*(number/(i+1))==number:
    print(number, " is perfect number")
    break
  elif (i+1)==number:
    print(number, " is not perfect number")

Enter a number : 25
25  is perfect number

In [ ]:
#Largest Number & Smallest Number
num1 = int(input("Enter number1 : "))
num2 = int(input("Enter number2 : "))
num3 = int(input("Enter number3 : "))
largest = num1
smallest = num1
for i in range(3):
  if largest < num2: largest = num2
  elif largest < num3: largest = num3

  if smallest > num2: smallest = num2
  elif smallest > num3: smallest = num3

print("Smallest number among ", num1, ", ", num2, ", ", num3, " is ", smallest)
print("Largest number among ", num1, ", ", num2, ", ", num3, " is ", largest)

Enter number1 : 10
Enter number2 : 30
Enter number3 : 50
Smallest number among  10 ,  30 ,  50  is  10
Largest number among  10 ,  30 ,  50  is  50

In [ ]:
#Largest number
a = 10
b = 50
c = 69

if a > b:
  if a > c:
    print(f"(a) is the largest number.")
  else:
    print(f"(c) is the largest number.")
else:
  if b > c:
    print(f"(b) is the largest number.")
  else:
    print(f"(c) is the largest number.")

(c) is the largest number.

In [ ]:
#Calculator
number1 = int(input("Enter first number : "))
number2 = int(input("Enter second number : "))
operator = input("Enter an operator (+, -, *, /, %) : ")
if operator == '+':
  print(number1 + number2)
elif operator == '-':
  print(number1 - number2)
elif operator == '*':
  print(number1 * number2)
elif operator == '/':
  if number2 == 0: print("Divisor cannot be Zero")
  else: print(number1 / number2)
elif operator == '%':
  print(number1 % number2)

Enter first number : 50
Enter second number : 2
Enter an operator (+, -, *, /, %) : %
0

In [ ]:
A = int(input("Enter the number of A : "))
B = int(input("Enter the number of B : "))

print("The value of x : ", -B/A)

Enter the number of A : 10
Enter the number of B : 2
The value of x :  -0.2

**Homework**

In [ ]:
#Leap Year
year = int(input("Enter the year : "))
isLeapYear = False
if year%4==0:
  isLeapYear = True
  if year%100==0:
    isLeapYear = year%400==0


if isLeapYear:
  print(year, " is the leap year.")
else:
  print(year, " is not the leap year.")

print(year%400==0)

Enter the year : 1900
True
False
False
1900  is not the leap year.
False

**Looping (While, For)**

In [ ]:
limit = int(input("Enter a limit : "))
i=1
sum = 0
while i <= limit:
  sum += i
  i=i+1
else:
  print("The sum from 1 to ", limit, " is ", sum)

Enter a limit : 5
The sum from 1 to  5  is  15

In [ ]:
#For loop
for x in "banana":
  print(x)
print("==========OR==========")
text = "banana"
x = 0
while x < len(text):
  print(text[x])
  x += 1

b
a
n
a
n
a
==========OR==========
b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

print("==========OR==========")

i = 0
while i < len(fruits):
  print(fruits[i])
  i += 1

apple
banana
cherry
==========OR==========
apple
banana
cherry

In [ ]:
#Range

for d in range(10,20):
  print(d)

print("=============")

for d in range(10,20,-1):
  print(d)

In [ ]:
#Enumerate Function
Months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for i, m in enumerate(Months):
  print(i, m)

0 Jan
1 Feb
2 Mar
3 Apr
4 May
5 Jun
6 Jul
7 Aug
8 Sep
9 Oct
10 Nov
11 Dec

In [ ]:
def tich(a, b=5):
  return a*b

print(tich(0))
print(tich(5, 10))

0
50

**Exercises**

In [ ]:
num = int(input("Enter a number : "))
divisor = 2

if num == 2:
  print(num, " is Prime number")
else:
  i = 2
  while i <= num:
    if divisor == num:
        print(num, " is Prime number")
        break
    elif num%divisor==0:
      print(num, " is not Prime number")
      break
    else:
      divisor += 1
  i+=1

Enter a number : 10
10  is not Prime number

In [ ]:
startNum = int(input("Enter the start number : "))
endNum = int(input("Enter the end number : "))

for i in range(startNum, endNum):
  if i%2==0:
    print(i)

In [ ]:
num = int(input("Enter a number : "))

sum = 0
i = 1
while i < num:
    if num%i==0:
        sum = sum + i
    i += 1

if num == sum:
    print(num," is the perfect number.")
else:
    print(num," is not the perfect number.")

**Homework (Conditional Statement)**

In [ ]:
# Homework 1

month = input("Enter the month (1-12) : ")
if month == "4" and month == 6 and month == "9" and month == "11":
  print("The month has 30 days.")
elif month == "2":
  print("The month has 28 days.")
else : print("The month has 31 days.")

Enter the month (1-12) : 2
The month has 28 days.

In [ ]:
from pickle import FALSE
# Homework 2

month = input("Enter the month (1-12) : ")
year = int(input("Enter the year : "))
isLeapYear = FALSE

if year % 4 == 0:
  isLeapYear = True
  if year % 100 == 0:
    isLeapYear = (year % 400 == 0)

if month == "4" and month == "6" and month == "9" and month == "11":
  print("The month has 30 days.")
elif month == "2":
  if isLeapYear: print("The month has 29 days.")
  else: print("The month has 28 days.")
else : print("The month has 31 days.")

Enter the month (1-12) : 2
Enter the year : 2020
The month has 29 days.

In [ ]:
numText = input("Enter a 4-digit number : ")[:4]

num = [0, 0, 0, 0]
i = 0
for x in numText:
  num[i] = int(x)
  i += 1

num[0] = num[0]*10 + num[3]
num[1] = num[1]*10 + num[2]

print("The sum of : ad + bc = ? ", num[0] + num[1])

Enter a 4-digit number : 1234
1
2
3
4
The sum of : ad + bc = ?  37

In [ ]:
print("The Time is 24H System!!")
hour = int(input("Enter the hour : "))
minute = int(input("Enter the minute : "))
second = int(input("Enter the second : "))

if hour < 24:
  if second >= 60:
    minute += second//60
    second %= 60
    if minute >= 60:
      hour += minute//60
      minute %= 60
      if hour >= 24:
        hour %= 24
  print(hour, " : ", minute, " : ", second+1)
else: print("Time is unvalid")

The Time is 24H System!!
Enter the hour : 23
Enter the minute : 59
Enter the second : 80
0  :  0  :  21

In [ ]:
hour = int(input("Enter the hour"))

**Exercises of PowerPoint 7**

In [2]:
a = 'hello world'
print(a)
print("tin hoc")
print('doesn\'t') # use \' to write single quotes...
print("\"Yes,\" he said.") 		# use \" to write double quotes...
print("\n")
s = 'First line.\nSecond line.' # use  \n to write newline
print(s)
ss = 'First line.\\nSecond line.' # use \\n to remove newline characters
print(ss)
print("\n")
print('C:\some\name') # use \n to write newline
print(r'C:\some\name') # use r remove special characters

hello world
tin hoc
doesn't
"Yes," he said.


First line.
Second line.
First line.\nSecond line.


C:\some
ame
C:\some\name

**Homework (String)**

In [12]:
# Homework 1

text = input("Enter the String : ")
count = 0
for i in text:
  count += 1
print("The length of ", text, " is : ", count)

Enter the String : Hello I am fine
The length of  Hello I am fine  is :  15

In [8]:
# Homework 2

text = input("Enter the String : ")
count = 0
for i in text.split(" "):
  count += 1
print("The number of words in \"",text, "\" is : ", count)

Enter the String : Hello I am fine
The number of words in " Hello I am fine " is :  4

In [ ]:
# Homework 3

text = input("Enter the String : ")

vowel = "aeiou"
vowelCount = 0
consoCount = 0
for i in text.lower():
  if i in vowel:
    vowelCount += 1
  else:
    consoCount += 1
print("The number of vowels in \"",text, "\" is : ", vowelCount,"\nThe number of consonents in \"", text, "\" is : ", consoCount)

**Homework (Loop Statement)**

In [ ]:
# Homework 1

num = int(input("Enter the number : "))

for i in range(1, 13):
  print(num, " * ", i, " = ", num*i)

Enter the number : 4
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
4  *  11  =  44
4  *  12  =  48

In [ ]:
# Homework 2

for i in range(2, 11):
  for j in range(1, 13):
    print(i, " * ", j, " = ", i*j)
  print("====================")

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
2  *  11  =  22
2  *  12  =  24
====================
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
3  *  11  =  33
3  *  12  =  36
====================
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
4  *  11  =  44
4  *  12  =  48
====================
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50
5  *  11  =  55
5  *  12  =  60
====================
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60
6  *  11  =  66
6  *  12  =  72
====================
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
7  *  11  =  77
7  *  12  =  84
====================
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80
8  *  11  =  88
8  *  12  =  96
====================
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
9  *  11  =  99
9  *  12  =  108
====================
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100
10  *  11  =  110
10  *  12  =  120
====================

In [ ]:
# Homework 3

num = int(input("Enter the number : "))
result = 0.000
for i in range(1, num+1):
  result += 1/i**3

print("The result of ", num," by using 1+1/2^3+1/3^3+1/4^3+.....+1/n^3 is ", round(result, 3))

Enter the number : 4
The result of  4  by using 1+1/2^3+1/3^3+1/4^3+.....+1/n^3 is  1.178

In [ ]:
# Homework 4

N = int(input("Enter the number N : "))
M = int(input("Enter the number M : "))

NN = 1
MM = 0
for x in str(N):
  NN *= int(x)

for y in range(1, M+1):
  if M%y==0:
    MM += y

if NN == MM: print("YES")
else: print("NO")

Enter the number N : 34
Enter the number M : 6
YES

In [ ]:
# Homework 5

N = int(input("Enter the number N :"))
M = int(input("Enter the number M :"))
K = int(input("Enter the number K :"))

NN = 0
MM = 0
for x in str(N):
  NN += int(x)
  MM = int(str(M)[:1])

if NN + MM == K: print("YES")
else: print("NO")

Enter the number N :43
Enter the number M :44
Enter the number K :11
YES

In [ ]:
M = 1242
print(int(str(M)[:1]))

1

**Note**

Sequences - List, Tuple, Dictionary, String

**List**

list = ["banana", "apple"]