<a href="https://colab.research.google.com/github/gitOfKuKue/Programming_SBS/blob/main/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import date

In [ ]:
# prompt: a = float(input("A = " ))
# b = float(input("B = "))
# c = float(input("C = "))
# delta = b*b-4*a*c
# if delta == 0:
#     print("dual solutions: x = ", str(-b/2/a))
# if delta < 0:
#     print("no solution")
# if delta > 0:
#     print("x1 = " + str((-b+delta**0.5)/2/a))
#     print("x2 = " + str((-b-delta**0.5)/2/a))

a = float(input("A = "))
b = float(input("B = "))
c = float(input("C = "))
delta = b*b-4*a*c
if delta == 0:
    print("dual solutions: x = ", str(-b/2/a))
elif delta < 0:
    print("no solution")
else:
    print("x1 = " + str((-b+delta**0.5)/2/a))
    print("x2 = " + str((-b-delta**0.5)/2/a))

A = 10
B = 0
C = -10
x1 = 1.0
x2 = -1.0

In [ ]:
print(str(100))
x = str(50)
print(x)
print(type(x))

100
50
<class 'str'>

In [ ]:
sum = 1 + 3 + 5 +\
7 + 9 + 11 +\
13 + 15 + 17
print(sum)

81

In [ ]:
myName = input("Enter your name : ") #input name
myDOB = int(input("Enter your year of birth : ")) #input DOB

today = date.today() #current date
print("Hello ", myName, ", in this year, you are ", (today.year - myDOB) , " years old.")

Enter your name : Ku Kue
Enter your year of birth : 2003
Hello  Ku Kue , in this year, you are  22  years old.

In [ ]:
myName = input("Enter your name : ") #input name
year, month, day = map(int, input("Enter your date of birth (yyyy-mm-dd) : ").split("-")) #input DOB

today = date.today() #current date
print("Hello ", myName, ", in this year, you are ", (today.year - year) , " years old.")

In [ ]:
num = int(input("Enter a 4 digit number : "))
reverse = 0
while num > 0:
  reminder = num % 10
  reverse = reverse * 10 + reminder
  num //= 10

print(reverse)

Enter a 4 digit number : 4251
425
42
4
0
1524

In [ ]:
##Exercise 2

number = int(input("Enter a number : "))
if number == 2:
  print("Monday")
elif number == 3:
  print("Tuesday")
elif number == 4:
  print("Wednesday")
elif number == 5:
  print("Thursday")
elif number == 6:
  print("Friday")
elif number == 7:
  print("Sunday")
elif number == 8:
  print("Saturday")
else:
  print("Invalid Input!")

Enter a number : 6
Friday

**Practice**

In [ ]:
#Practice
number = int(input("Enter a number : "))
print(number," is even.") if number%2==0 else print(number, " is odd.")

Enter a number : 2
2  is even.

In [ ]:
number = int(input("Enter a number : "))
i=1
for i in range(number):
  if (number/(i+1))*(number/(i+1))==number:
    print(number, " is perfect number")
    break
  elif (i+1)==number:
    print(number, " is not perfect number")

Enter a number : 25
25  is perfect number

In [ ]:
#Largest Number & Smallest Number
num1 = int(input("Enter number1 : "))
num2 = int(input("Enter number2 : "))
num3 = int(input("Enter number3 : "))
largest = num1
smallest = num1
for i in range(3):
  if largest < num2: largest = num2
  elif largest < num3: largest = num3

  if smallest > num2: smallest = num2
  elif smallest > num3: smallest = num3

print("Smallest number among ", num1, ", ", num2, ", ", num3, " is ", smallest)
print("Largest number among ", num1, ", ", num2, ", ", num3, " is ", largest)

Enter number1 : 10
Enter number2 : 30
Enter number3 : 50
Smallest number among  10 ,  30 ,  50  is  10
Largest number among  10 ,  30 ,  50  is  50

In [ ]:
#Largest number
a = 10
b = 50
c = 69

if a > b:
  if a > c:
    print(f"(a) is the largest number.")
  else:
    print(f"(c) is the largest number.")
else:
  if b > c:
    print(f"(b) is the largest number.")
  else:
    print(f"(c) is the largest number.")

(c) is the largest number.

In [ ]:
#Calculator
number1 = int(input("Enter first number : "))
number2 = int(input("Enter second number : "))
operator = input("Enter an operator (+, -, *, /, %) : ")
if operator == '+':
  print(number1 + number2)
elif operator == '-':
  print(number1 - number2)
elif operator == '*':
  print(number1 * number2)
elif operator == '/':
  if number2 == 0: print("Divisor cannot be Zero")
  else: print(number1 / number2)
elif operator == '%':
  print(number1 % number2)

Enter first number : 50
Enter second number : 2
Enter an operator (+, -, *, /, %) : %
0

In [ ]:
A = int(input("Enter the number of A : "))
B = int(input("Enter the number of B : "))

print("The value of x : ", -B/A)

Enter the number of A : 10
Enter the number of B : 2
The value of x :  -0.2

**Homework**

In [ ]:
#Leap Year
year = int(input("Enter the year : "))
isLeapYear = False
if year%4==0:
  isLeapYear = True
  if year%100==0:
    isLeapYear = year%400==0


if isLeapYear:
  print(year, " is the leap year.")
else:
  print(year, " is not the leap year.")

print(year%400==0)

Enter the year : 1900
True
False
False
1900  is not the leap year.
False

**Looping (While, For)**

In [ ]:
limit = int(input("Enter a limit : "))
i=1
sum = 0
while i <= limit:
  sum += i
  i=i+1
else:
  print("The sum from 1 to ", limit, " is ", sum)

Enter a limit : 5
The sum from 1 to  5  is  15

In [ ]:
#For loop
for x in "banana":
  print(x)
print("==========OR==========")
text = "banana"
x = 0
while x < len(text):
  print(text[x])
  x += 1

b
a
n
a
n
a
==========OR==========
b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

print("==========OR==========")

i = 0
while i < len(fruits):
  print(fruits[i])
  i += 1

apple
banana
cherry
==========OR==========
apple
banana
cherry

In [ ]:
#Range

for d in range(10,20):
  print(d)

print("=============")

for d in range(10,20,-1):
  print(d)

In [ ]:
#Enumerate Function
Months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for i, m in enumerate(Months):
  print(i, m)

0 Jan
1 Feb
2 Mar
3 Apr
4 May
5 Jun
6 Jul
7 Aug
8 Sep
9 Oct
10 Nov
11 Dec

In [ ]:
def tich(a, b=5):
  return a*b

print(tich(0))
print(tich(5, 10))

0
50

**Exercises**

In [ ]:
num = int(input("Enter a number : "))
divisor = 2

if num == 2:
  print(num, " is Prime number")
else:
  i = 2
  while i <= num:
    if divisor == num:
        print(num, " is Prime number")
        break
    elif num%divisor==0:
      print(num, " is not Prime number")
      break
    else:
      divisor += 1
  i+=1

Enter a number : 10
10  is not Prime number

In [ ]:
startNum = int(input("Enter the start number : "))
endNum = int(input("Enter the end number : "))

for i in range(startNum, endNum):
  if i%2==0:
    print(i)

In [ ]:
num = int(input("Enter a number : "))

sum = 0
i = 1
while i < num:
    if num%i==0:
        sum = sum + i
    i += 1

if num == sum:
    print(num," is the perfect number.")
else:
    print(num," is not the perfect number.")

**Homework (Conditional Statement)**

In [ ]:
# Homework 1

month = input("Enter the month (1-12) : ")
if month == "4" and month == 6 and month == "9" and month == "11":
  print("The month has 30 days.")
elif month == "2":
  print("The month has 28 days.")
else : print("The month has 31 days.")

Enter the month (1-12) : 2
The month has 28 days.

In [ ]:
from pickle import FALSE
# Homework 2

month = input("Enter the month (1-12) : ")
year = int(input("Enter the year : "))
isLeapYear = FALSE

if year % 4 == 0:
  isLeapYear = True
  if year % 100 == 0:
    isLeapYear = (year % 400 == 0)

if month == "4" and month == "6" and month == "9" and month == "11":
  print("The month has 30 days.")
elif month == "2":
  if isLeapYear: print("The month has 29 days.")
  else: print("The month has 28 days.")
else : print("The month has 31 days.")

Enter the month (1-12) : 2
Enter the year : 2020
The month has 29 days.

In [ ]:
numText = input("Enter a 4-digit number : ")[:4]

num = [0, 0, 0, 0]
i = 0
for x in numText:
  num[i] = int(x)
  i += 1

num[0] = num[0]*10 + num[3]
num[1] = num[1]*10 + num[2]

print("The sum of : ad + bc = ? ", num[0] + num[1])

Enter a 4-digit number : 1234
1
2
3
4
The sum of : ad + bc = ?  37

In [ ]:
print("The Time is 24H System!!")
hour = int(input("Enter the hour : "))
minute = int(input("Enter the minute : "))
second = int(input("Enter the second : "))

if hour < 24:
  if second >= 60:
    minute += second//60
    second %= 60
    if minute >= 60:
      hour += minute//60
      minute %= 60
      if hour >= 24:
        hour %= 24
  print(hour, " : ", minute, " : ", second+1)
else: print("Time is unvalid")

The Time is 24H System!!
Enter the hour : 23
Enter the minute : 59
Enter the second : 80
0  :  0  :  21

In [ ]:
hour = int(input("Enter the hour"))

**Exercises of PowerPoint 7**

In [ ]:
a = 'hello world'
print(a)
print("tin hoc")
print('doesn\'t') # use \' to write single quotes...
print("\"Yes,\" he said.") 		# use \" to write double quotes...
print("\n")
s = 'First line.\nSecond line.' # use  \n to write newline
print(s)
ss = 'First line.\\nSecond line.' # use \\n to remove newline characters
print(ss)
print("\n")
print('C:\some\name') # use \n to write newline
print(r'C:\some\name') # use r remove special characters

hello world
tin hoc
doesn't
"Yes," he said.


First line.
Second line.
First line.\nSecond line.


C:\some
ame
C:\some\name

**Homework (String)**

In [ ]:
# Homework 1

text = input("Enter the String : ")
count = 0
for i in text:
  count += 1
print("The length of ", text, " is : ", count)

Enter the String : Hello I am fine
The length of  Hello I am fine  is :  15

In [ ]:
# Homework 2

text = input("Enter the String : ")
count = 0
for i in text.split(" "):
  count += 1
print("The number of words in \"",text, "\" is : ", count)

Enter the String : Hello I am fine
The number of words in " Hello I am fine " is :  4

In [ ]:
# Homework 3

text = input("Enter the String : ")

vowel = "aeiou"
vowelCount = 0
consoCount = 0
for i in text.lower():
  if i in vowel:
    vowelCount += 1
  else:
    consoCount += 1
print("The number of vowels in \"",text, "\" is : ", vowelCount,"\nThe number of consonents in \"", text, "\" is : ", consoCount)

KeyboardInterrupt: Interrupted by user

**Classroom Exercises**

Exercise:
1. Write a program that reads a string from the user and prints it in reverse order.
2. Write a program that reads a string from the user and counts the number of uppercase and lowercase letters.
3. Write a program that reads a string from the user and replaces every whitespace with an underscore (_).
4. Write a program that reads two integers from the user and calculates their sum, difference, product, and quotient (display the quotient rounded to two decimal places).
Handle division by zero appropriately.
5. Write a program that reads an integer from the user and checks if it is divisible by both 3 and 5.
6. Write a program that reads an integer from the user and determines whether it is a prime number.
7. Write a program that reads a positive integer n from the user and calculates the sum of all odd numbers from 1 to n.
8. Write a program that reads an integer from the user and prints its multiplication table from 1 to 10.

In [ ]:
# No.1

text = input("Enter a string : ")
print(text[::-1])

Enter a string : Hello hI I am Ku Kue
euK uK ma I Ih olleH

In [ ]:
# No.2

text = input("Enter a string : ")
upperCount = 0
lowerCount = 0

for i in text:
  if i.isupper(): upperCount += 1
  elif i.islower(): lowerCount += 1

print("The Uppercase contins : ", upperCount, " characters.")
print("The Lowercase contins : ", lowerCount, " characters.")

Enter a string : Hello I am Ku Kue
The Uppercase contins :  4  characters.
The Lowercase contins :  9  characters.

In [ ]:
# No.3

text = input("Enter a string : ")
for i in text:
  if i.isspace(): print("_", end="")
  else: print(i, end="")

Enter a string : Hello i am kukue
Hello_i_am_kukue

In [ ]:
# No.4

num1 = input("Enter the first number : ")
num2 = input("Enter the second number : ")

print("The sum of %d and %d is : %d" %(int(num1), int(num2), int(num1)+int(num2)))
print("The difference of %d and %d is : %d" %(int(num1), int(num2), int(num1)-int(num2)))
print("The product of %d and %d is : %d" %(int(num1), int(num2), int(num1)*int(num2)))
if num2 == "0":
  print("Divisor cannot be Zero")
else:
  print("The quotient of %d and %d is : %.2f" %(int(num1), int(num2), int(num1)/int(num2)))

Enter the first number : 10
Enter the second number : 30
The sum of 10 and 30 is : 40
The difference of 10 and 30 is : -20
The product of 10 and 30 is : 300
The quotient of 10 and 30 is : 0.33

In [ ]:
# No.5

num = int(input("Enter a number : "))
if num%3==0 and num%5==0:
  print("%d is divisible by both 3 and 5" %num)
else:
  print("%d is not divisible by both 3 and 5" %num)

Enter a number : 15
15 is divisible by both 3 and 5

In [ ]:
# No.6

num = int(input("Enter a number : "))
divisor = 2
if num == 2: print("%d is a prime number." %num)
else:
  while divisor <= num:
    if divisor == num:
      print("%d is a prime number." %num)
      break
    elif num%divisor==0:
      print("%d is not a prime number." %num)
      break
    elif num%divisor!=0:
      divisor += 1

Enter a number : 17
17 is a prime number.

In [ ]:
# No.7

num = int(input("Enter a number : "))
sum = 0

for i in range(1, num+1):
  if i%2!=0:
    sum += i
print("The sum of the numbers from 1 to %d is %d" %(num, sum))

Enter a number : 100
The sum of the numbers from 1 to 100 is 2500

**No.8 is same to Homework1 of Homework (Loop Statement) **

**Homework (Loop Statement)**

In [ ]:
# Homework 1

num = int(input("Enter the number : "))

for i in range(1, 13):
  print(num, " * ", i, " = ", num*i)

Enter the number : 4
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
4  *  11  =  44
4  *  12  =  48

In [ ]:
# Homework 2

for i in range(2, 11):
  for j in range(1, 13):
    print(i, " * ", j, " = ", i*j)
  print("====================")

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
2  *  11  =  22
2  *  12  =  24
====================
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
3  *  11  =  33
3  *  12  =  36
====================
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
4  *  11  =  44
4  *  12  =  48
====================
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50
5  *  11  =  55
5  *  12  =  60
====================
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60
6  *  11  =  66
6  *  12  =  72
====================
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
7  *  11  =  77
7  *  12  =  84
====================
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80
8  *  11  =  88
8  *  12  =  96
====================
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
9  *  11  =  99
9  *  12  =  108
====================
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100
10  *  11  =  110
10  *  12  =  120
====================

In [ ]:
# Homework 3

num = int(input("Enter the number : "))
result = 0.000
for i in range(1, num+1):
  result += 1/i**3

print("The result of ", num," by using 1+1/2^3+1/3^3+1/4^3+.....+1/n^3 is ", round(result, 3))

Enter the number : 4
The result of  4  by using 1+1/2^3+1/3^3+1/4^3+.....+1/n^3 is  1.178

In [ ]:
# Homework 4

N = int(input("Enter the number N : "))
M = int(input("Enter the number M : "))

NN = 1
MM = 0
for x in str(N):
  NN *= int(x)

for y in range(1, M+1):
  if M%y==0:
    MM += y

if NN == MM: print("YES")
else: print("NO")

Enter the number N : 34
Enter the number M : 6
YES

In [ ]:
# Homework 5

N = int(input("Enter the number N :"))
M = int(input("Enter the number M :"))
K = int(input("Enter the number K :"))

NN = 0
MM = 0
for x in str(N):
  NN += int(x)
  MM = int(str(M)[:1])

if NN + MM == K: print("YES")
else: print("NO")

Enter the number N :43
Enter the number M :44
Enter the number K :11
YES

In [ ]:
M = 1242
print(int(str(M)[:1]))

1

In [ ]:
a = [1,2,3,4,"Hello",False] #error
print(min(a))
print(len(a))
print(max(a))
print(sum(a))

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
#Index of: []

a = [2,3,5,7,11,13]
print("a = ", a)
print("a[0] = ", a[0])
print("a[2] = ", a[2])
#Negative Index
print("a[-1] = ", a[-1])
print("a[-3] = ", a[-3])
#a range in the list
print("a[1:3] = ", a[1:3])
print("a[2:] = ", a[2:])
print("a[:3] = ", a[:3])
print("a[1:6:2] = ", a[1:6:2])

a =  [2, 3, 5, 7, 11, 13]
a[0] =  2
a[2] =  5
a[-1] =  13
a[-3] =  7
a[1:3] =  [3, 5]
a[2:] =  [5, 7, 11, 13]
a[:3] =  [2, 3, 5]
a[1:6:2] =  [3, 7, 13]

In [ ]:
a = [2,3]
b = a + [13, 17]
print(a)
print(b)

a = [2,3]
b = a[:2] + [5]
print(a)
print(b)

[2, 3]
[2, 3, 13, 17]
[2, 3]
[2, 3, 5]

In [ ]:
print("Destructive:")
a = [2,3]
b = a
a += [4]
print(a)
print(b)
print("Non-Destructive:")
a = [2,3]
b = a
a = a + [4]
print(a)
print(b)

Destructive:
[2, 3, 4]
[2, 3, 4]
Non-Destructive:
[2, 3, 4]
[2, 3]

In [ ]:
a = [2,3,4,5,6,7,8]
print("a = ",a)

#a.pop
item = a.pop(3) #3 is index
print("After item = a.pop(3): ", a)
print("After item = a.pop(3): ", item)

#del
a = [2,3,4,5,6,7,8]
del a[2:4]
print("After del a[2:4]: ", a)

#clear()
a = [2,3,4,5,6,7,8]
a.clear()
print("After a.clear(): ", a)

#remove()
a = [2,3,4,5,6,7,8]
a.remove(3) #3 is not index, value
print("After a.remove(3): ", a)

a =  [2, 3, 4, 5, 6, 7, 8]
After item = a.pop(3):  [2, 3, 4, 6, 7, 8]
After item = a.pop(3):  5
After del a[2:4]:  [2, 3, 6, 7, 8]
After a.clear():  []
After a.remove(3):  [2, 4, 5, 6, 7, 8]

In [ ]:
a = [2,3,4,7]
print("a = ", a)
a[0] = a[1]
a[1] = a[0]
print("Afer failed swap: ")
print("a = ", a)

a = [2,3,4,7]
temp = a[0]
a[0] = a[1]
a[1] = temp
print("Afer swap: ")
print("a = ", a)

a =  [2, 3, 4, 7]
Afer failed swap:
a =  [3, 3, 4, 7]
Afer swap:
a =  [3, 2, 4, 7]

In [ ]:
a = [2,3,4,5]
b = [2,3,4,8]
c = [2,3,5,7,8]

print(a<b)
print(a<c)

True
True

In [ ]:
x = [2,3,4, "hello"]
y = [2,3,4]
print(x>y)

True

In [ ]:
#Sort

a = [7,5,2,5,1,6,7,4,3,7]
b = list(a) #copy of a
print("At first, a = ", a)
a.sort()
print("After a.sort(), a = ", a)
print("After a.sort(), b = ", b)
b.sort(reverse=True)
print("After b.sort(reverse=True), b = ", b)

At first, a =  [7, 5, 2, 5, 1, 6, 7, 4, 3, 7]
After a.sort(), a =  [1, 2, 3, 4, 5, 5, 6, 7, 7, 7]
After a.sort(), b =  [7, 5, 2, 5, 1, 6, 7, 4, 3, 7]
After b.sort(reverse=True), b =  [7, 7, 7, 6, 5, 5, 4, 3, 2, 1]

**Exercises**

In [ ]:
#1
fruits = ["apple", "orange", "grape", "lemon", "dragon fruit"]
print(fruits[1])

#2
fruits[2] = "mango"
print(fruits)

#3
fruits.append("pineapple")
fruits[1] = "watermelon"
print(fruits)

#4
fruits.pop(len(fruits)-1)
fruits.remove('apple')
print(fruits)

#5
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)

orange
['apple', 'orange', 'mango', 'lemon', 'dragon fruit']
['apple', 'watermelon', 'mango', 'lemon', 'dragon fruit', 'pineapple']
['watermelon', 'mango', 'lemon', 'dragon fruit']
['dragon fruit', 'lemon', 'mango', 'watermelon']
['watermelon', 'mango', 'lemon', 'dragon fruit']

In [ ]:
#6
nums = [2,3,4,1,4,5,6,7,4]
print(sum(nums))

#7
print(max(nums))
print(min(nums))

#8
new_list = []
for i in nums:
  if i%2==0:
    new_list.append(i)
print(new_list)

#9
def remove_duplicate(nums):
  new_list = []
  for i in nums:
    if i not in new_list:
      new_list.append(i)
  return new_list

print(remove_duplicate(nums))

#10
next_list = [10,4,5,20,64,2,45]
print(remove_duplicate(nums+next_list))

#11
new_list = [1,2,3,4,5]
def shift_right(lst, k):
    k = k % len(lst)  # Handle cases where k > len(lst)
    return lst[-k:] + lst[:-k]
print(shift_right(new_list, 2))

#12

largest = nums[0]
sec_largest = nums[0]
nums.remove(max(nums))
for i in nums:
  if largest < i:
    largest = i
    if largest > sec_largest:
      sec_largest = i
print("Second largest num: ",sec_largest)
print("Largest num: ", largest)

36
7
1
[2, 4, 4, 6, 4]
[2, 3, 4, 1, 5, 6, 7]
[2, 3, 4, 1, 5, 6, 7, 10, 20, 64, 45]
[4, 5, 1, 2, 3]
Second largest num:  6
Largest num:  6

In [ ]:
#13
import random
rand_list = []
for i in range(10):
  rand_list.append(random.randint(1,100))
print(rand_list)
print(max(rand_list))
print(min(rand_list))
print(sum(rand_list))

#14
word_list = ["Hello", "Fine", "Well", "Good", "Luck"]
copy_list = word_list.copy()
print(word_list)
word_list.sort()
print(word_list)
word_list.sort(reverse=True)
print(word_list)

#15
print(copy_list[:3])

#16
print(copy_list[-2:])

#17
print(word_list[1])
print(copy_list[1])

#18
num_list = [1,2,3,4,5]
num_list = ["even" if i%2==0 else "odd" for i in num_list]
print(num_list)

#19
def remove_all_occurrences(lst, value):
    return [x for x in lst if x != value]

# Example usage
numbers = [1, 2, 3, 4, 3, 5, 3]
result = remove_all_occurrences(numbers, 3)
print(result)  # Output: [1, 2, 4, 5]

#20
fruit_list = ["apple", "banana", "cherry", "apple", "date"]
print(fruit_list.index("apple"))

#21
def unique_list(lst):
    unique = []
    for item in lst:
        if item not in unique:
            unique.append(item)
    return unique

print(numbers)
print(unique_list(numbers))

#22
print(numbers[::-1])

#23
next_list = [200,100,200,400,500,300]
print(next_list)
temp = next_list[0]
next_list[0] = next_list[len(next_list)-1]
next_list[len(next_list)-1] = temp
print(next_list)

[1, 20, 36, 62, 14, 74, 33, 100, 88, 51]
100
1
479
['Hello', 'Fine', 'Well', 'Good', 'Luck']
['Fine', 'Good', 'Hello', 'Luck', 'Well']
['Well', 'Luck', 'Hello', 'Good', 'Fine']
['Hello', 'Fine', 'Well']
['Good', 'Luck']
Luck
Fine
['odd', 'even', 'odd', 'even', 'odd']
[1, 2, 4, 5]
0
[1, 2, 3, 4, 3, 5, 3]
[1, 2, 3, 4, 5]
[3, 5, 3, 4, 3, 2, 1]
[200, 100, 200, 400, 500, 300]
[300, 100, 200, 400, 500, 200]

In [ ]:
#24
list1 = [2,3,4,2,1,5]
list2 = [4,6,2,7,2,0]
isMatch = False
for i in list1:
  if i in list2:
    isMatch = True
print(isMatch)

#25
input_list = []
while "q" not in input_list:
  input_value = input("Enter the list: ")
  input_list.append(input_value)

input_list.remove("q")

print(input_list)
for i in input_list:
  if int(i) % 2 != 0:
    input_list.remove(i)
print(input_list)

KeyboardInterrupt: Interrupted by user

In [ ]:
#26
input_list = []
while "q" not in input_list:
  input_value = input("Enter the list: ")
  input_list.append(input_value)

input_list.remove("q")
for i in input_list:
  print("The Square of the list : ", int(i)**2)

Enter the list: 10
Enter the list: 20
Enter the list: 50
Enter the list: q
The Square of the list :  100
The Square of the list :  400
The Square of the list :  2500

In [ ]:
#27
nums_list = [10,20,30,40,50,60,70,80,90]
temp = nums_list[0]
nums_list[0] = nums_list[len(nums_list)-1]
nums_list[len(nums_list)-1] = temp
print(nums_list)

#28
nums_list = [10,10,30,40,50,60,70,80,90]
print(nums_list)
count = [0,0,0,0,0,0,0,0,0]
for i in range(len(nums_list)):
  for j in range(len(nums_list)):
    if nums_list[i] == nums_list[j]:
      count[i] += 1
for i in range(len(nums_list)):
  print("The total count of ", nums_list[i], " is ", count[i], " times.")

#29
def is_palindrome(lst):
    return lst == lst[::-1]  # Compare list with its reverse

# Example usage
print(is_palindrome([1, 2, 3, 2, 1]))  # Output: True
print(is_palindrome([1, 2, 3, 4, 5]))  # Output: False

#30
import random

def custom_shuffle(lst):
    return random.sample(lst, len(lst))  # Returns a shuffled copy of the list

# Example usage
numbers = [1, 2, 3, 4, 5]
shuffled_numbers = custom_shuffle(numbers)
print(shuffled_numbers)

#31
num_list = [3,5,2,9,8,2,4]
def swapping(lst):
  lst = lst[::-1]
  return lst
print(swapping(num_list))

#32
nums_list = [10,20,30,40,50,60,30,80,90]
print(nums_list)
count = [0,0,0,0,0,0,0,0,0]
for i in range(len(nums_list)):
  for j in range(len(nums_list)):
    if nums_list[i] == nums_list[j]:
      count[i] += 1

maxCount = count.index(max(count))
print("The most frequently counting number of ", nums_list[maxCount], " is ", count[maxCount], " times")

#33
def find_pair(lst, target):
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):  # Check each pair
            if lst[i] + lst[j] == target:
                return [lst[i], lst[j]]  # Return the pair
    return None  # No pair found

# Example usage
numbers = [2, 7, 11, 15]
target = 9
print(find_pair(numbers, target))

#34
def remove_duplicates(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

print(remove_duplicates(nums_list))

[90, 20, 30, 40, 50, 60, 70, 80, 10]
[10, 10, 30, 40, 50, 60, 70, 80, 90]
The total count of  10  is  2  times.
The total count of  10  is  2  times.
The total count of  30  is  1  times.
The total count of  40  is  1  times.
The total count of  50  is  1  times.
The total count of  60  is  1  times.
The total count of  70  is  1  times.
The total count of  80  is  1  times.
The total count of  90  is  1  times.
True
False
[5, 3, 4, 1, 2]
[4, 2, 8, 9, 2, 5, 3]
[10, 20, 30, 40, 50, 60, 30, 80, 90]
The most frequently counting number of  30  is  2  times
[2, 7]
[10, 20, 30, 40, 50, 60, 80, 90]

**Tuples Exercises**

In [33]:
#1
givenNums = (3,7,2,9,12,5,8,3,7)
print(givenNums[0])
print(givenNums[-1])

#2
number_checked = 9
if number_checked in givenNums:
  print(number_checked, " is in the Given Numbers Tuple.")
else:
  print(number_checked, " is not in the Given Numbers Tuple.")

#3
tuple1 = (1,2,4,5,6,7,3,2)
tuple2 = (3,4,5,6,7,2,7,2)
print(tuple(set(tuple1 + tuple2))) #"set" is used to merge 2 tuples and it'll remove duplicate elements

#4
print(tuple(map(str, givenNums))) # Using "map" function
#[OR]
print(tuple(str(i) for i in givenNums))

#5
print("Maximun number in Given Nums Tuple : ", max(givenNums))
print("Minimum number in Given Nums Tuple : ", min(givenNums))

#6
num_counted = 3
print(givenNums.count(num_counted))

#7
index1 = 3
index2 = 5
swapped_tuple = tuple(
    givenNums[i] if i not in (index1, index2) else givenNums[index2] if i == index1 else givenNums[index1]
    for i in range(len(givenNums))
)
print(swapped_tuple)

#8
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple)
flattened_list = [item for subtuple in nested_tuple for item in subtuple]
print(flattened_list)

#9
given_list = [4,7,2,9,12,5,2,4,1,2,4]
new_list = sorted(given_list)
print("The second largest number is : ", new_list[-2])

#10
print(list(dict.fromkeys(given_list)))

#11

3
7
9  is in the Given Numbers Tuple.
(1, 2, 3, 4, 5, 6, 7)
('3', '7', '2', '9', '12', '5', '8', '3', '7')
('3', '7', '2', '9', '12', '5', '8', '3', '7')
Maximun number in Given Nums Tuple :  12
Minimum number in Given Nums Tuple :  2
2
(3, 7, 2, 5, 12, 9, 8, 3, 7)
((1, 2, 3), (4, 5, 6), (7, 8, 9))
[1, 2, 3, 4, 5, 6, 7, 8, 9]
The second largest number is :  9
[4, 7, 2, 9, 12, 5, 1]

**Note**

Sequences - List, Tuple, Dictionary, String

**List**

list = ["banana", "apple"]

**Tuple: immutable**

tuple = ("orange", "grape")

*Functions*

len(), min(), max(), sum()