<a href="https://colab.research.google.com/github/gitOfKuKue/Programming_SBS/blob/main/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import date

In [ ]:
# prompt: a = float(input("A = " ))
# b = float(input("B = "))
# c = float(input("C = "))
# delta = b*b-4*a*c
# if delta == 0:
#     print("dual solutions: x = ", str(-b/2/a))
# if delta < 0:
#     print("no solution")
# if delta > 0:
#     print("x1 = " + str((-b+delta**0.5)/2/a))
#     print("x2 = " + str((-b-delta**0.5)/2/a))

a = float(input("A = "))
b = float(input("B = "))
c = float(input("C = "))
delta = b*b-4*a*c
if delta == 0:
    print("dual solutions: x = ", str(-b/2/a))
elif delta < 0:
    print("no solution")
else:
    print("x1 = " + str((-b+delta**0.5)/2/a))
    print("x2 = " + str((-b-delta**0.5)/2/a))

A = 10
B = 0
C = -10
x1 = 1.0
x2 = -1.0

In [ ]:
print(str(100))
x = str(50)
print(x)
print(type(x))

100
50
<class 'str'>

In [ ]:
sum = 1 + 3 + 5 +\
7 + 9 + 11 +\
13 + 15 + 17
print(sum)

81

In [ ]:
myName = input("Enter your name : ") #input name
myDOB = int(input("Enter your year of birth : ")) #input DOB

today = date.today() #current date
print("Hello ", myName, ", in this year, you are ", (today.year - myDOB) , " years old.")

Enter your name : Ku Kue
Enter your year of birth : 2003
Hello  Ku Kue , in this year, you are  22  years old.

In [ ]:
myName = input("Enter your name : ") #input name
year, month, day = map(int, input("Enter your date of birth (yyyy-mm-dd) : ").split("-")) #input DOB

today = date.today() #current date
print("Hello ", myName, ", in this year, you are ", (today.year - year) , " years old.")

In [13]:
num = int(input("Enter a 4 digit number : "))
reverse = 0
while num > 0:
  reminder = num % 10
  reverse = reverse * 10 + reminder
  num //= 10

print(reverse)

Enter a 4 digit number : 4251
425
42
4
0
1524

In [21]:
##Exercise 2

number = int(input("Enter a number : "))
if number == 2:
  print("Monday")
elif number == 3:
  print("Tuesday")
elif number == 4:
  print("Wednesday")
elif number == 5:
  print("Thursday")
elif number == 6:
  print("Friday")
elif number == 7:
  print("Sunday")
elif number == 8:
  print("Saturday")
else:
  print("Invalid Input!")

Enter a number : 6
Friday

**Practice**

In [23]:
#Practice
number = int(input("Enter a number : "))
print(number," is even.") if number%2==0 else print(number, " is odd.")

Enter a number : 2
2  is even.

In [47]:
number = int(input("Enter a number : "))
i=1
for i in range(number):
  if (number/(i+1))*(number/(i+1))==number:
    print(number, " is perfect number")
    break
  elif (i+1)==number:
    print(number, " is not perfect number")

Enter a number : 25
25  is perfect number

In [54]:
#Largest Number & Smallest Number
num1 = int(input("Enter number1 : "))
num2 = int(input("Enter number2 : "))
num3 = int(input("Enter number3 : "))
largest = num1
smallest = num1
for i in range(3):
  if largest < num2: largest = num2
  elif largest < num3: largest = num3

  if smallest > num2: smallest = num2
  elif smallest > num3: smallest = num3

print("Smallest number among ", num1, ", ", num2, ", ", num3, " is ", smallest)
print("Largest number among ", num1, ", ", num2, ", ", num3, " is ", largest)

Enter number1 : 10
Enter number2 : 30
Enter number3 : 50
Smallest number among  10 ,  30 ,  50  is  10
Largest number among  10 ,  30 ,  50  is  50

In [59]:
#Largest number
a = 10
b = 50
c = 69

if a > b:
  if a > c:
    print(f"(a) is the largest number.")
  else:
    print(f"(c) is the largest number.")
else:
  if b > c:
    print(f"(b) is the largest number.")
  else:
    print(f"(c) is the largest number.")

(c) is the largest number.

In [67]:
#Calculator
number1 = int(input("Enter first number : "))
number2 = int(input("Enter second number : "))
operator = input("Enter an operator (+, -, *, /, %) : ")
if operator == '+':
  print(number1 + number2)
elif operator == '-':
  print(number1 - number2)
elif operator == '*':
  print(number1 * number2)
elif operator == '/':
  if number2 == 0: print("Divisor cannot be Zero")
  else: print(number1 / number2)
elif operator == '%':
  print(number1 % number2)

Enter first number : 50
Enter second number : 2
Enter an operator (+, -, *, /, %) : %
0

In [68]:
A = int(input("Enter the number of A : "))
B = int(input("Enter the number of B : "))

print("The value of x : ", -B/A)

Enter the number of A : 10
Enter the number of B : 2
The value of x :  -0.2

**Homework**

In [80]:
#Leap Year
year = int(input("Enter the year : "))
isLeapYear = False
if year%4==0:
  isLeapYear = True
  if year%100==0:
    isLeapYear = year%400==0


if isLeapYear:
  print(year, " is the leap year.")
else:
  print(year, " is not the leap year.")

print(year%400==0)

Enter the year : 1900
True
False
False
1900  is not the leap year.
False